a {
  text-decoration: none;
  color: #1787a5;
}
body {
  font-size: 5em;
  perspective: 500px;
  font-family: 'Yantramanav', sans-serif;
  background-size: cover;
  background-size: 100%;

  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 1025px) {
  body {
    background-position: inherit;
  }
}

p {
  font-weight: 700;
  margin: 0 auto;
  color: #1787a5;
  width: 30%;
  user-select: none;
  -webkit-backface-visibility: visible;
  line-height: 125%;
}

/* These are almost there*/
p#spinner {
  font-size: 2em;
  width: 50%;
  margin: 10% auto;
}

section.spinner-container {
  padding: 15% 0;
  width: 50%;
}

#spinner {
  animation-name: spinThreeD, depth;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 5.5s;
}

/*@keyframes spinThreeD {*/
/*  from { transform: rotate3d(0); }*/
/*  to { transform: rotate3d(1, 1, 1, 1turn); }*/
/*}*/

@-webkit-keyframes spinThreeD {
  from {
    -webkit-transform: rotateY(0deg) rotateX(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg) rotateX(360deg);
  }
}

@keyframes depth {
  0% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770, -18px 18px 0 #0d5770, -19px 19px 0 #0d5770,
      -20px 20px 0 #0d5770, -21px 21px 0 #0d5770, -22px 22px 0 #0d5770, -23px 23px 0 #0d5770, -24px 24px 0 #0d5770,
      -25px 25px 0 #0d5770;
  }

  5% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770, -18px 18px 0 #0d5770, -19px 19px 0 #0d5770,
      -20px 20px 0 #0d5770, -21px 21px 0 #0d5770, -22px 22px 0 #0d5770, -23px 23px 0 #0d5770, -24px 24px 0 #0d5770;
  }

  10% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770, -18px 18px 0 #0d5770, -19px 19px 0 #0d5770,
      -20px 20px 0 #0d5770, -21px 21px 0 #0d5770, -22px 22px 0 #0d5770, -23px 23px 0 #0d5770;
  }

  15% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770, -18px 18px 0 #0d5770, -19px 19px 0 #0d5770,
      -20px 20px 0 #0d5770, -21px 21px 0 #0d5770, -22px 22px 0 #0d5770;
  }

  20% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770, -18px 18px 0 #0d5770, -19px 19px 0 #0d5770,
      -20px 20px 0 #0d5770, -21px 21px 0 #0d5770;
  }

  25% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770, -18px 18px 0 #0d5770, -19px 19px 0 #0d5770,
      -20px 20px 0 #0d5770;
  }

  30% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770, -18px 18px 0 #0d5770, -19px 19px 0 #0d5770;
  }

  35% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770, -18px 18px 0 #0d5770;
  }

  40% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770;
  }

  45% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770;
  }

  50% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770;
  }

  55% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770;
  }

  60% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770;
  }

  65% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770, -18px 18px 0 #0d5770;
  }

  70% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770, -18px 18px 0 #0d5770, -19px 19px 0 #0d5770;
  }

  75% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770, -18px 18px 0 #0d5770, -19px 19px 0 #0d5770,
      -20px 20px 0 #0d5770;
  }

  80% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770, -18px 18px 0 #0d5770, -19px 19px 0 #0d5770,
      -20px 20px 0 #0d5770, -21px 21px 0 #0d5770;
  }

  85% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770, -18px 18px 0 #0d5770, -19px 19px 0 #0d5770,
      -20px 20px 0 #0d5770, -21px 21px 0 #0d5770, -22px 22px 0 #0d5770;
  }

  90% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770, -18px 18px 0 #0d5770, -19px 19px 0 #0d5770,
      -20px 20px 0 #0d5770, -21px 21px 0 #0d5770, -22px 22px 0 #0d5770, -23px 23px 0 #0d5770;
  }

  95% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770, -18px 18px 0 #0d5770, -19px 19px 0 #0d5770,
      -20px 20px 0 #0d5770, -21px 21px 0 #0d5770, -22px 22px 0 #0d5770, -23px 23px 0 #0d5770, -24px 24px 0 #0d5770;
  }

  100% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770, -18px 18px 0 #0d5770, -19px 19px 0 #0d5770,
      -20px 20px 0 #0d5770, -21px 21px 0 #0d5770, -22px 22px 0 #0d5770, -23px 23px 0 #0d5770, -24px 24px 0 #0d5770,
      -25px 25px 0 #0d5770;
  }
}
