* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  perspective: 500px;
  font-family: 'Yantramanav', sans-serif;
  font-weight: 400;
  color: #f1f1f1;
  background: #f1f1f1;
}

section.spinner-container {
  background-size: cover;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /*background-color: black;*/
  background-image: url('../img/AI-pics/paul-tiny.jpg');
  height: 100vh;
  margin: 0;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 1025px) {
  body {
    background-position: inherit;
  }
}

/*spinner*/

p.spinner {
  background: rgba(0, 0, 0, 0);
  font-size: 5em;
  margin: 0 auto;
  margin-top: 20%;
  color: #1787a5;
  width: 25%;
  -webkit-backface-visibility: visible;
}

.spinner {
  animation-name: spinThreeD, depth;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 5.5s;
  transform-style: preserve-3d;
}

/*hide spinner*/

.hide {
  display: none;
}

h1.spinner {
  color: #1787a5;
}

p {
  font-weight: 700;
  color: #1787a5;
  /*width: 30%;*/
  user-select: none;
  -webkit-backface-visibility: visible;
  line-height: 125%;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  display: inline-block;
}

@media only screen and (min-device-width: 300px) and (max-device-width: 1025px) {
  html::before {
    content: ' ';
    display: block;
    background-image: url('/nc_assets/img/AI-pics/paul-tiny.jpg');
    background-position: bottom left;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: -10;
  }
}

#grid {
  margin: 0;
  background: #f1f1f1;
  height: 100vh;
  z-index: 1;
  display: grid;
}

#grid > *:not(.spinner-container) {
  margin: 0 13em;
}

/* brand logos*/

/*test*/

.logos-flex-container {
  padding: 0;
  margin: 3em;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.logos-flex-item {
  width: 150px;
  height: 80px;
  margin: 2%;
  display: flex;
  align-items: center;
}

.logos-flex-item a {
  display: flex;
  align-items: center;
}

a[href="https://www.lynnandlawrence.com"] img {
  padding: 32px;
}

a[href="https://www.instagram.com/magneticgarage/"] img {
  padding: 14px;
}

a[href="http://memarketberkeley.com/"] img {
  padding: 31px;
}

a[href="https://jesterswink.com"] img {
  padding: 12px;
}

a[href="https://www.ourweddingstory.us"] img {
  padding: 14px;
}

/*magnetic 14px*/
/*lynn 32px*/
/*Mid East Market 31*/
/*jester 12*/
/*Wedding Story 14*/

/*test end*/

@media screen and (max-width: 970px) {
  .logos-flex-item {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    text-align: center;
  }
}

/*images*/

.captions {
  color: #f1f1f1;
  display: flex;
  justify-content: space-between;
}

.captions > figcaption {
  padding: 5px 0;
  font-weight: 300;
  font-size: 18px;
}

.show-caption {
  color: #1787a5;
}

/*navs*/

.toggleNav {
  display: none;
}

.flex-nav ul,
.footer-flex {
  display: flex;
  list-style: none;
}

.flex-nav ul {
  align-items: center;
}

.footer-flex {
  align-items: baseline;
}

.flex-nav ul {
  padding: 0.5em 0;
  margin-bottom: 0.25em;
}

.flex-nav-header {
  color: #1787a5;
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  justify-content: space-between;
}

.flex-nav-header ul {
  padding-left: 0;
  margin-bottom: 8px;
  margin-top: 15px;
}

nav.flex-nav-header > li.nav-brand {
  font-weight: 400;
}

.flex-nav-header ul li {
  display: inline-block;
}

.flex-nav-header ul.right li {
  margin-left: 50px;
}

.flex-nav-header li {
  font-size: 20px;
}

.flex-nav li {
  font-size: 20px;
  font-weight: 400;
  flex: 1;
  text-align: right;
}

.flex-nav li.nav-brand,
.footer-flex > li {
  flex: 5;
  text-align: left;
}

.footer-flex > li {
  font-size: 1.5em;
}

.flex-nav li.nav-brand,
.flex-nav-header li.nav-brand {
  font-size: 29px;
}

.footer-flex > li {
  text-align: center;
}

.footer-social > li {
  font-size: 25px;
}

@media all and (max-width: 800px) {
  * {
    font-size: 12px;
  }

  /*logos*/

  a[href="https://www.lynnandlawrence.com"] img {
    padding: 14px;
  }

  a[href="https://www.instagram.com/magneticgarage/"] img {
    padding: 9px;
  }

  a[href="http://memarketberkeley.com/"] img {
    padding: 12px;
  }

  a[href="https://jesterswink.com"] img {
    padding: 8px;
  }

  a[href="https://www.ourweddingstory.us"] img {
    padding: 9px;
  }

  #grid > *:not(.spinner-container) {
    margin: 0 5em;
  }

  article.ai-description-text p {
    font-size: 18px;
  }

  article.captions > figcaption {
    font-size: 10px;
  }

  /* show toggle button  */
  .toggleNav {
    display: block;
    text-align: center;
  }

  .flex-nav-header ul.open {
    display: flex;
    flex-direction: column;
  }

  /* set the nav menu's display property to none  */
  .flex-nav-header > ul.right {
    display: none;
  }

  .flex-nav ul.open {
    display: flex;
  }

  .left {
    margin: 0;
  }

  .flex-nav-header {
    align-items: baseline;
  }

  /*footer*/

  .footer-flex,
  .footer-social,
  .nav-page-links {
    flex-direction: column;
    align-items: center;
  }
  .footer-social > *,
  .nav-page-links > * {
    /*maybe add flex-basis?*/
  }
}

/*footer*/

#grid > footer.end {
  background: #1787a5;
  margin: 0;
  padding: 0 2em;
  width: 100%;
}

.footer-flex {
  justify-content: space-between;
}

.footer-flex > li {
  flex: 1 1 100px;
}

.footer-nav {
  flex-wrap: wrap;
}

.footer-nav.nav-page-links {
  flex-basis: 40%;
}

.footer-nav.nav-page-links li {
  text-align: center;
}

p.copyright {
  text-align: center;
  color: #f1f1f1;
  font-weight: 300;
  font-size: 0.8em;
}

.end > li {
  border-bottom: 1px solid red;
  color: #f1f1f1;
}

.footer-social {
  color: #f1f1f1;
  border-radius: 3px;
  font-size: 2em;
}

.footer-social > li {
  text-align: center;
}

.footer-social > li {
}

.spinner-nav,
.footer-social {
  flex-basis: 20%;
}

/*description text*/

.ai-description-text p {
  font-weight: 400;
  text-align: center;
  width: 100%;
  font-size: 29px;
  padding: 0 9%;
}

.ai-description-text {
  padding-top: 1%;
  padding-bottom: 3%;
}

/* one option: slightly different rotate -> still 3d though and works on both*/

@-webkit-keyframes spinThreeD {
  from {
    -webkit-transform: rotateY(0deg) rotateX(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg) rotateX(360deg);
  }
}

@-webkit-keyframes spinThreeDSmall {
  from {
    -webkit-transform: rotateY(0deg) rotateX(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg) rotateX(360deg);
  }
}

@keyframes depth {
  0% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770, -18px 18px 0 #0d5770, -19px 19px 0 #0d5770,
      -20px 20px 0 #0d5770;
  }

  5% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770, -18px 18px 0 #0d5770, -19px 19px 0 #0d5770,
      -20px 20px 0 #0d5770, -21px 21px 0 #0d5770, -22px 22px 0 #0d5770, -23px 23px 0 #0d5770, -24px 24px 0 #0d5770;
  }

  10% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770, -18px 18px 0 #0d5770, -19px 19px 0 #0d5770,
      -20px 20px 0 #0d5770, -21px 21px 0 #0d5770, -22px 22px 0 #0d5770, -23px 23px 0 #0d5770;
  }

  15% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770, -18px 18px 0 #0d5770, -19px 19px 0 #0d5770,
      -20px 20px 0 #0d5770, -21px 21px 0 #0d5770, -22px 22px 0 #0d5770;
  }

  20% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770, -18px 18px 0 #0d5770, -19px 19px 0 #0d5770,
      -20px 20px 0 #0d5770, -21px 21px 0 #0d5770;
  }

  25% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770, -18px 18px 0 #0d5770, -19px 19px 0 #0d5770,
      -20px 20px 0 #0d5770;
  }

  30% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770, -18px 18px 0 #0d5770, -19px 19px 0 #0d5770;
  }

  35% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770, -18px 18px 0 #0d5770;
  }

  40% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770;
  }

  45% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770;
  }

  50% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770;
  }

  55% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770;
  }

  60% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770;
  }

  65% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770, -18px 18px 0 #0d5770;
  }

  70% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770, -18px 18px 0 #0d5770, -19px 19px 0 #0d5770;
  }

  75% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770, -18px 18px 0 #0d5770, -19px 19px 0 #0d5770,
      -20px 20px 0 #0d5770;
  }

  80% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770, -18px 18px 0 #0d5770, -19px 19px 0 #0d5770,
      -20px 20px 0 #0d5770, -21px 21px 0 #0d5770;
  }

  85% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770, -18px 18px 0 #0d5770, -19px 19px 0 #0d5770,
      -20px 20px 0 #0d5770, -21px 21px 0 #0d5770, -22px 22px 0 #0d5770;
  }

  90% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770, -18px 18px 0 #0d5770, -19px 19px 0 #0d5770,
      -20px 20px 0 #0d5770, -21px 21px 0 #0d5770, -22px 22px 0 #0d5770, -23px 23px 0 #0d5770;
  }

  95% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770, -18px 18px 0 #0d5770, -19px 19px 0 #0d5770,
      -20px 20px 0 #0d5770, -21px 21px 0 #0d5770, -22px 22px 0 #0d5770, -23px 23px 0 #0d5770, -24px 24px 0 #0d5770;
  }

  100% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770, -14px 14px 0 #0d5770,
      -15px 15px 0 #0d5770, -16px 16px 0 #0d5770, -17px 17px 0 #0d5770, -18px 18px 0 #0d5770, -19px 19px 0 #0d5770,
      -20px 20px 0 #0d5770, -21px 21px 0 #0d5770, -22px 22px 0 #0d5770, -23px 23px 0 #0d5770, -24px 24px 0 #0d5770,
      -25px 25px 0 #0d5770;
  }
}

@keyframes depthSmall {
  0% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770;
  }

  35% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770,
      -10px 10px 0 #0d5770, -11px 11px 0 #0d5770, -12px 12px 0 #0d5770;
  }

  50% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770, -10px 10px 0 #0d5770,
      -11px 11px 0 #0d5770, -12px 12px 0 #0d5770, -13px 13px 0 #0d5770;
  }

  55% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770, -10px 10px 0 #0d5770,
      -11px 11px 0 #0d5770, -12px 12px 0 #0d5770;
  }

  70% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -9px 9px 0 #0d5770;
  }

  75% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770, -4px 4px 0 #0d5770, -5px 5px 0 #0d5770,
      -6px 6px 0 #0d5770, -6px 6px 0 #0d5770, -7px 7px 0 #0d5770, -8px 8px 0 #0d5770, -10px 10px 0 #0d5770;
  }

  95% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770, -3px 3px 0 #0d5770;
  }

  100% {
    text-shadow: -1px 1px 0 #0d5770, -2px 2px 0 #0d5770;
  }
}
