body {

}

* {
  background-color: #39FF14;
}

.giphy-embed {
  float: left;
}

a {
  transition: .4s;
  color:black;
  padding-top: 6px;
  display: inline-block;
  height: 25px;
  width: 175px;
  border: 2px solid black;
  text-decoration: none;
  border-radius: 5px;
  margin: 2px;
  text-align: center;
}

a:hover {
  color: white;
  background-color: darkgreen;
}

.nav {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

#header {
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  color: white;
  display: block;
}

#gifs{
  margin: 0 auto
}