/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 1.3em;
}

p,
li {
  padding: 5px 0;
}

hr.home {
  border: 2px solid;
  border-radius: 2px;
}

em {
  font-style: italic;
}

/*
  ================================
  Images
  ================================
*/

.dev-logo {
  width: 15%;
}

/*
  ================================
  Home
  ================================
*/

.paths {
  text-align: center;
}

.col1-2 {
  width: 45%;
}

img.col1-2 {
  width: 20%;
}

.paths {
  display: relative;
}

.paths a:nth-of-type(1):after {
  position: absolute;
  content: 'Code';
  top: 9.5em;
  left: 18.3em;
  font-size: 1.5em;
  color: peru;
  text-shadow: 1px 1px rebeccapurple, 2px 2px rebeccapurple, 3px 3px rebeccapurple, 4px 4px rebeccapurple;
}

.paths a:nth-of-type(2):after {
  position: absolute;
  content: 'Music';
  top: 9.5em;
  left: 24.5em;
  font-size: 1.5em;
  color: peru;
  text-shadow: 1px 1px rebeccapurple, 2px 2px rebeccapurple, 3px 3px rebeccapurple, 4px 4px rebeccapurple;
}

div.header-container-2-3 {
  display: inline-block;
  text-align: left;
  /*width: 30%;*/
}

div.header-container-1-3 {
  text-align: right;
  display: inline-block;
  width: 17%;
}

.projects p {
  margin-left: 3em;
}

section.projects > a {
  text-decoration: underline;
}

section.img-container > a > img {
  width: 15em;
  margin: 1em 0;
}

h3.work-header {
  margin: 1em 0;
}

/*
  ================================
  Headers
  ================================
*/

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  padding: 5px 0;
}

h3 {
  font-size: 1.5em;
}

body {
  padding: 10px 15px;
  font-family: 'EB Garamond', serif;
}

.primary-header {
  text-align: center;
  margin-bottom: 1em;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.col-1-3 {
  width: 33%;
}

.col-2-3 {
  width: 63%;
}

/*
  ================================
  Links
  ================================
*/

.primary-nav > ul > li > a {
  text-decoration: none;
}
a,
a:visited {
  text-transform: capitalize;
  color: inherit;
}

/*
  ================================
  Header
  ================================
*/

.primary-nav ul {
  background-color: #000;
  border-radius: 5px;
  margin: 0.5em 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.primary-nav ul li {
  margin: 0.1em 1.5em;
}

.primary-nav ul li a {
  color: #fff;
}

/*
  ================================
  Footer
  ================================
*/

.primary-nav-footer ul li {
  display: inline-block;
}

i.fas:first-of-type {
  margin-left: 20px;
  color: #000;
}

.fab,
.fas {
  margin: 15px 20px;
  transform: scale(3, 3);
}

/*
  ================================
  Projects
  ================================
*/

.projects {
  padding: 15px 0;
}

/*
  ================================
  Music
  ================================
*/

.content {
  text-align: center;
  margin: 20px;
}

.content img {
  width: 50%;
}

.external-iframes {
}

.external-iframes iframe {
  width: 40%;
  height: 200px;
}

/*
  ================================
  Buttons
  ================================
*/

button {
  font-size: 1em;
  padding: 0.5em 0.5em;
  margin: 1em 0;
}

input {
  font-size: 1em;
}

/*
  ================================
  Devices
  ================================
*/

@media screen and (max-width: 720px) {
  body {
    font-size: 4em;
    top: 10px;
  }
  .container {
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
    width: 80%;
  }

  .container > *,
  .user-input-section > * {
    margin-top: 5%;
  }

  input.user-input {
    display: inline-block;
    font-size: 1em;
    height: 2em;
    line-height: 1em;
    padding: 0;
  }

  button {
    margin: auto;
    display: block;
    font-size: 1.5em;
  }
  section.col-2-3.projects {
    display: none;

    /*currently removing projects info on mobile*/
    /*width: auto;*/
  }

  nav.primary-nav-footer ul li a i {
    transform: scale(2.5, 2.5);
    margin: 0.8em;
  }

  .primary-nav ul {
    width: 100%;
  }

  .primary-nav ul li {
    font-size: 1em;
  }

  .primary-nav ul li:nth-of-type(4) {
    padding: 0 15px;
  }

  h2 {
    margin-bottom: 8px;
  }
}
