* {
	box-sizing: border-box;
}

.parent {
	display: flex;
	height: 600px;
}

.child {
	text-align: center;
	margin: auto;
	line-height: 0;
}

.child img {
	border: 2px solid orange;
	width: 60%;
}

p a::after {
	content: '(' attr(href) ')';
}

h1 {
	margin-top: 1em;
}

p,
h1 {
	padding: 5px 0;
}
