* {
	box-sizing: border-box;
}

.parent {
	display: flex;
	height: 20em;

	border: 2px solid orange;
}

.child {
	text-align: center;
	margin: auto;
}

.child img {
	width: 100%;
}

p a::after {
	content: '(' attr(href) ')';
}
