[class*='full'],
[class*='light'] {
	display: inline-block;
	height: 10em;
	width: 10em;
}

.not-full {
	background-color: hsl(0, 20%, 74%);
}
.fuller {
	background-color: hsl(0, 70%, 74%);
}
.fullest {
	background-color: hsl(0, 100%, 74%);
}

.not-light {
	background-color: hsl(0, 100%, 20%);
}

.lighter {
	background-color: hsl(0, 100%, 60%);
}

.lightest {
	background-color: hsl(0, 100%, 80%);
	text-align: center;
}
