* {
	box-sizing: border-box;
	font-family: 'Oswald', sans-serif;
	font-family: 'Montserrat', sans-serif;
}

button {
	display: block;
	text-align: center;
	line-height: 1em;
	padding: 5px 10px;
	font-size: 1em;
	width: 100%;
}

table {
	border-collapse: collapse;
	min-width: 330px;
}

td,
th {
	padding: 5px;
}

th {
	font-weight: 500;
	border-bottom: 1px solid;
}

caption {
	font-weight: bold;
	margin: 0.3em 0;
}

.top-header {
	padding: 0;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.col-1-3 {
	display: inline-block;
	width: 25%;
	text-align: center;
}

.data-container {
	max-width: 500px;
	margin: 0 auto;
	font-size: 1.1em;
}

.data-container table {
	margin: 3em auto;
}

.data-container tbody {
	background-color: rgba(128, 128, 128, 0.3);
}

.data-container tr td:hover {
	background-color: lightgreen;
}

.text {
	fill: white;
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

.player-selection {
	margin-top: 16px;
}

.top-header {
	position: relative;
	max-width: 960px;
}

.top-header > section {
	position: absolute;
}

.player-metadata-controls {
	left: 51%;
}

.player-comparison-header {
	right: 51%;
}

.data-container {
	position: absolute;
	top: 15em;
	margin: auto;
	left: 0;
	right: 0;
	margin: auto;
}

svg {
	display: inline-block;
}

svg:not(:nth-of-type(3n)) {
	margin: 0 5px;
}

svg:nth-of-type(3n) {
	margin-right: 5px;
}

.select-box {
	overflow: hidden;
}
	
