* {
	margin: 0;
	padding: 0;
	border: 0;
}

#wrapper {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
.img {
	width: 30%;
	height: 20em;
	display: inline-block;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 1%;
}

.first-row {
	margin-top: 2%;
}
