a[href*='http']:after {
	content: ' (' attr(href) ') ';
}

a[href*='http']:after {
	text-transform: lowercase;
}

p [data-tooltip='true']:hover {
	position: relative;
}

p [data-tooltip='true']:hover::before {
	content: attr(title);
	position: absolute;
	top: 15px;
	left: 0;
	background: peru;
	padding: 15px;
	color: #fff;
}
