/* This selectrs the first appearence of any element. Thus we have selected the entire first section */

.body-first-of-type {
	color: hsla(360, 69%, 100%, 0.83);
	text-decoration: underline;
}

/* start from the body and select all first appearence of a type*/
/*body :first-of-type {
	color: hsla(275, 100%, 50%, 1);
	text-decoration: underline;
}
*/
/*However, we could start our selection at the section level, thus only selecting the first appearence of any element nested inside of a section*/
/*section :first-of-type {
	color: hsla(97, 100%, 50%, 0.7);
}*/

/*However, if we change the descendant selector above to a combined slector by inserting a space, we then are looking for a section that is also first of type */

/*section:first-of-type {
	color: hsla(97, 100%, 50%, 0.7);
}*/

/*body :first-of-type {
	text-shadow: 2px 2px #ff0000;
}*/

/*body :only-of-type {
	color: hsla(20, 100%, 50%, 0.7);
} 
*/

/* This doesn't work because there are more than one section children. However, if we we're to place a sngle nested section inside of some other section, then we coudl activate this */
/*section:only-of-type {
	color: hsla(20, 100%, 50%, 0.7);
} */
