body {
  width:960px;
}

.col {
  display: inline-block;
}

img {
  max-height: 300px;
  display: inline-block;
}

#wave{
  width: 704px;
  top: 1px;
  position: relative;
  height: 300px;
}


p {
  font-family: 'Oswald', sans-serif;
  margin: 1%;
  font-size: 1.5rem;
  border-bottom: 2px solid green;
  width: 82%;
  padding-bottom: 5px;
}