body {
  width:960px;
}

.col {
  display: inline-block;
}

img {
  max-width: 200px;
  max-height: 300px;
  display: inline-block;
}


/*using floats*/
/*div {
  width: 500px;
}

.left-col {
  float: left;
}

.right-col {
  float: right;
}

.clear {
  clear:both;
}*/


p {
  font-family: 'Oswald', sans-serif;
  margin: 1%;
  font-size: 1.5rem;
  border-bottom: 2px solid green;
  width: 82%;
  padding-bottom: 5px;
}