.code-container {
	background: inherit;
	border-width: 0.2em;
	border: solid gray;
	border-radius: 5px;
	display: inline-block;
	font-family: monospace;
	font-size: 1.2em;
	margin: 2em 0;
	overflow: auto;
	padding: 0.5em;
	width: 60%;
}

.kw {
	color: #0000aa;
}
.int {
	color: #009999;
}

.css-rule {
	margin-left: 2%;
}

a {
	text-transform: initial;
}
