a[href^='https']:after {
	content: ' (' attr(href) ')';
}

/* original alternating styles: */

table.original tr:nth-of-type(odd) td:nth-of-type(odd),
table.original tr:nth-of-type(even) td:nth-of-type(even) {
	background-color: #900;
	color: #fff;
}

/* partial selection: fifth row td data */

table.fifth-row-partially-selected tr:nth-of-type(odd) td:nth-of-type(odd),
table.fifth-row-partially-selected tr:nth-of-type(even) td:nth-of-type(even) {
	background-color: #900;
	color: #fff;
}

table.fifth-row-partially-selected tr:nth-of-type(5) td {
	background: linear-gradient(to right, #aaa111, #ddcc11);
	color: green;
}

/* Correctly selecting all td using negation*/

table.fifth-row-fully-selected tr:nth-of-type(odd):not(:nth-of-type(5)) td:nth-of-type(odd),
table.fifth-row-fully-selected tr:nth-of-type(even) td:nth-of-type(even) {
	background-color: #900;
	color: #fff;
}

table.fifth-row-fully-selected tr:nth-of-type(5) td {
	background: linear-gradient(to right, #aaa111, #ddcc11);
	color: green;
}
