html {
	/*this will make the html take up 100% of the available window. If we don't do this, then 
	then the html will stop when the window stops, this becomes an issue when resizing. */
	height: 100%;
}

body {
	background: url(https://images.unsplash.com/photo-1415369629372-26f2fe60c467);

	/*this will make image as small as possible while still covering width and height of the screen
	It won't change the aspect ratio of the image. It will stretch the minimun amount to fit on screen */
	background-size: cover;
	/**/
	background-position: center;
	font-family: 'Lato', sans-serif;
	color: white;
}

#content {
	padding-top: 25%;
	text-align: center;
	text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
}

h1 {
	font-weight: 700;
	font-size: 5em;
}

hr {
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	width: 400px;
}
